<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class='card'>

  <div class='card-header text-center'>
    <img src="/assets/images/drcar.jpg"
    width="110"
    height="70"
    title="drcar.jpg" id="imageBorderRadius">
    &nbsp; <!--To provide space between elements -->
    <b>{{pageTitle}}</b>
    &nbsp;
    <img src="/assets/images/drcarmirror.jpg"
    width="110"
    height="70"
    title="drcarmirror.jpg" id="imageBorderRadius">
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class="row">
          <div class="col-md-12">
            <p>
              Looking for Car Repair and Services in Bangalore?
              Find best Car Service & Repair Center and workshop for General Service,
              General Checkup, Accident Repair And Painting, Running Repairs, Car Wash, Car Shampoo Cleaning,
              Car AC Repair , Car Wheel Alignment, Car Wheel Balancing, AC Servicing, AC Repair, AC Gas Filling.
              Pickup & drop All at comfort of your home Best Car Body Repair Services in Bangalore at Reasonable price.
              Expert Technicians. Get Free Quotes on Online. Bookmycarservice is leading Multi Brand Car Service Workshop
              Garage Located in Electronic City & Mahdevapura .Car repair and car service free doorstep pickup and drop available
              in car service in HSR layout , car service in begur,car service in Bommanahalli, Car repair in ITPL ,car repair in whitefield,
              car service in kr puram,car service in cv raman nagar, car repair in kaggadasapura.car service in harlur,Car service & Repair in
              Mahadevapura , car service in garudacharpalya
            </p>
          </div>
        </div>
        <app-car-service></app-car-service>
        </div>

      <div class='col-md-4'>
        <div class="row">
          <div class="col-md-12">
            <img src="/assets/images/homecarwashpic.jpg" id="imageBorderRadius" width="350" height="300" class="d-inline-block align-top" title="homecarwashpic.jpg">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
          <app-userregistration></app-userregistration>
          </div>
        </div>
      </div>
    </div>
  </div>
