#border{
  border: 3px solid black;
  padding: 40px 25px;
  border-radius: 15px;
}
th,tr{
  text-align: center;
}

h4{
  border-bottom : solid 2px blue;
}
p{
  line-height: 70%;
}
.wrapper {
  text-align: center;
}

#back{
  float: right;
}

#ok{
  float: left;
}
