<div class="row">
  <div class="col-md-12 text-center" style="background-color: black;">
    <h2 style="color: white;"> CAR SERVICES</h2>
  </div>
</div>
<hr>
<table class='table'>
  <thead>
    <tr>
      <th>Package Name</th>
      <th>Description</th>
      <th>Amount(Rs.)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let service of carServices'>
      <td>{{service.packageName}}</td>
      <td>
        <ul>
          <li>{{service.packageDescrpion.service1}}</li>
          <li>{{service.packageDescrpion.service2}}</li>
          <li>{{service.packageDescrpion.service3}}</li>
          <li>{{service.packageDescrpion.service4}}</li>
          <li>{{service.packageDescrpion.service5}}</li>
          <li>{{service.packageDescrpion.service6}}</li>
        </ul>
      </td>
      <td>{{service.packageAmount}}</td>
      <td><button type="button" class="btn btn-secondary" [routerLink]="['/carwashservices', service.packageID]" (click)="onSelect()">Select</button></td>
      <td><button type="button" class="btn btn-secondary" [routerLink]="['/home']" routerLinkActive="router-link-active" >Cancel</button></td>
    </tr>
  </tbody>
</table>
