<div class="row">
  <div class="col-md-12 text-center" style="background-color: black;">
    <h2 style="color: white;"> CAR SERVICES</h2>
  </div>
</div>
<hr>

<div class="row text-center" >
<!-- Modal button trigger for trending1 -->
  <div class="col-md-4">
   <a data-toggle="modal" data-target="#trending1">
    <img src="/assets/images/trending1.png" width="170" height="170" title="trending1.png" class="imgBox"
      id="imageBorderRadius" >
    </a>
    <p class="text-center "><strong>Exterior Care</strong></p>
  </div>
<!-- Modal for trending1-->
  <div class="modal fade" id="trending1" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title">Exterior Care</h5>
      </div>
      <div class="modal-body">
        <ul>
          <li>Complete Car Exterior Cleaning</li><br>
          <li>Exteriror car wash</li><br>
          <li>Eco glass clean & gloss</li><br>
          <li>Wheel clean & finish</li><br>
          <li>Clean Tire & shine</li><br>
          <li>Complete interior vaccuming</li><br>
        </ul>
        <div>
          <p><b>Amount</b> : Rs.1500</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
<!-- Modal button trigger for trending2 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending2">
      <img src="/assets/images/trending2.png" width="170" height="170" title="trending2.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>Clean In & Out</strong></p>
  </div>
<!-- Modal for trending2-->
  <div class="modal fade" id="trending2" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Clean In & Out</h5>
        </div>
        <div class="modal-body">
			<ul>
			  <li>Car Exterior & Interior Deep Cleaning</li><br>
			  <li>Complete exterior wash</li><br>
			  <li>Dashboard cleaning & shine</li><br>
			  <li>Foam cleaning of interiors & fabrics</li><br>
			  <li>Clean Tire & shine</li><br>
			  <li>Complete interior vaccuming</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.1600</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal button trigger for trending3 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending3">
      <img src="/assets/images/trending3.png" width="170" height="170" title="trending3.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>Clean & Shine</strong></p>
  </div>
<!-- Modal for trending3-->
  <div class="modal fade" id="trending3" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Clean & Shine</h5>
        </div>
        <div class="modal-body">
			  <ul>
				  <li>Complete Car Cleaning, Wax & Polish</li><br>
				  <li>Clean In & Out +</li><br>
				  <li>Affixed foreign material removal</li><br>
				  <li>Swirl marks & stain removal</li><br>
				  <li>Exterior polish with polymers</li><br>
				  <li>Interior aroma treatment</li><br>
			  </ul>
            <div>
              <p><b>Amount</b> : Rs.2550</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="solid">
<div class="row text-center">
<!-- Modal button trigger for trending4 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending4">
      <img src="/assets/images/trending4.png" width="170" height="170" title="trending4.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>Tidy & Secure</strong></p>
  </div>
<!-- Modal for trending4-->
  <div class="modal fade" id="trending4" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Tidy & Secure</h5>
        </div>
        <div class="modal-body">
			<ul>
			  <li>Car Cleaning, Polish & Protection</li><br>
			  <li>Clean & Shine +</li><br>
			  <li>Blow out of vents, nooks & crannies</li><br>
			  <li>Deep cleaning & protection of seats</li><br>
			  <li>Engine coating & glass protection</li><br>
			  <li>AC cleaning & protection</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.4500</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal button trigger for trending5 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending5">
      <img src="/assets/images/trending5.png" width="170" height="170" title="trending5.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>Awesome Detail</strong></p>
  </div>
<!-- Modal for trending5-->
  <div class="modal fade" id="trending5" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Awesome Detail</h5>
        </div>
        <div class="modal-body">
			<ul>
			  <li>Car Clean, Polish, Protect & Prevent</li><br>
			  <li>Tidy & Secure +</li><br>
			  <li>Glass treatment of all glasses</li><br>
			  <li>Cavity wax</li><br>
			  <li>Light scratch management</li><br>
			  <li>Paint protection</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.5600</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal button trigger for trending6 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending6">
      <img src="/assets/images/trending6.png" width="170" height="170" title="trending6.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>Engine Oil Change</strong></p>
  </div>
<!-- Modal for trending6-->
  <div class="modal fade" id="trending6" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Engine Oil Change</h5>
        </div>
        <div class="modal-body">
			<ul>
			  <li>Engine Oil & Oil Filter Replacement</li><br>
			  <li>Change engine Oil</li><br>
			  <li>Change oil filter</li><br>
			  <li>Battery checkup</li><br>
			  <li>Complete exterior wash</li><br>
			  <li>Air filter cleaning</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.1450</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="solid">
<div class="row text-center">
<!-- Modal button trigger for trending7 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending7">
      <img src="/assets/images/trending7.png" width="170" height="170" title="trending7.png" class="imgBox"
        id="imageBorderRadius">
      </a>
    <p class="text-center"><strong>Express Servicing</strong></p>
  </div>
<!-- Modal for trending7-->
  <div class="modal fade" id="trending7" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Express Servicing</h5>
        </div>
        <div class="modal-body">
            <ul>
			  <li>Annual Maintenance Service</li><br>
			  <li>Engine oil & filter change</li><br>
			  <li>Spark plug replacement</li><br>
			  <li>Coolant & break fluid replacement</li><br>
			  <li>Air filter & AC filter replacement</li><br>
			  <li>Brake pads & shoes cleaning</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.2450</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal button trigger for trending8 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending8">
      <img src="/assets/images/trending8.png" width="170" height="170" title="trending8.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>General Check-up</strong></p>
  </div>
<!-- Modal for trending8-->
  <div class="modal fade" id="trending8" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">General Check-up</h5>
        </div>
        <div class="modal-body">
            <ul>
			  <li>General Car Health Checkup</li><br>
			  <li>Engine oil checkup</li><br>
			  <li>Coolant checkup</li><br>
			  <li>Battery checkup</li><br>
			  <li>Oil leakage checkup</li><br>
			  <li>Alternator & pump belt inspection</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.999</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal button trigger for trending9 -->
  <div class="col-md-4">
    <a data-toggle="modal" data-target="#trending9">
      <img src="/assets/images/trending1.png" width="170" height="170" title="trending9.png" class="imgBox"
        id="imageBorderRadius">
    </a>
    <p class="text-center"><strong>Extra Care</strong></p>
  </div>
<!-- Modal for trending9-->
  <div class="modal fade" id="trending9" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5  class="modal-title">Extra Care</h5>
        </div>
        <div class="modal-body">
            <ul>
			  <li>General Car Health Checkup</li><br>
			  <li>Eco glass clean & gloss</li><br>
			  <li>Battery checkup</li><br>
			  <li>Cavity wax</li><br>
			  <li>Paint protection</li><br>
			  <li>AC cleaning & protection</li><br>
			</ul>
            <div>
              <p><b>Amount</b> : Rs.2600</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
