<div class="container-fluid">
  <h3 style="text-align: center;">{{pageTitle}}</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email ID</th>
        <th>Contact No.</th>
        <th>Car Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users'>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contactNo}}</td>
        <td>
          <a href="https://www.w3schools.com/" target="_blank" [routerLink]="['/cardetails', user.username]" >Click Here</a>
        </td>
        <td><button data-toggle="modal"  data-target="#trending1" class="btn btn-primary" type="submit" (click)="onEditButtonPressed(user.username)">Edit</button></td>
        <td><button class="btn btn-primary" type="submit" (click)="onDelete(user.username)">Delete</button></td>
        <div class="modal fade" id="trending1" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5  class="modal-title">Edit User Details</h5>
            </div>
            <div class="modal-body">
              <form [formGroup]="editForm" [hidden]="submitted">
                <table>
                  <tbody>
                <!-- First Name -->
                    <div class="form-group">
                    <tr>
                      <th>First Name</th>
                      <th>
                        <input type="text" formControlName="firstName" placeholder="First Name" id="firstName"
                         class="form-control"  value="{{userget.firstName}}" required>
                      </th>
                    </tr>
                    </div>
                <!-- First Name Validation  -->
                    <div *ngFor="let validation of account_validation_messages.firstName">
                      <div class="error-message" *ngIf="editForm.controls['firstName'].hasError(validation.type) && (editForm.controls['firstName'].dirty || editForm.controls['firstName'].touched)"
                           class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>

                <!-- Last Name -->
                    <div class="form-group">
                    <tr>
                      <th>Last Name</th>
                      <td>
                        <input type="text" formControlName="lastName" id="lastName" placeholder="Last Name" id="lastName"
                          class="form-control" value="{{userget.lastName}}" required>
                      </td>
                    </tr>
                    </div>
                <!-- Last Name Validation  -->
                    <div *ngFor="let validation of account_validation_messages.lastName">
                      <div class="error-message" *ngIf="editForm.controls['lastName'].hasError(validation.type) && (editForm.controls['lastName'].dirty || editForm.controls['lastName'].touched)"
                           class="alert alert-danger">
                           {{validation.message}}
                      </div>
                    </div>

                <!-- User Name  -->
                    <div class="form-group">
                    <tr>
                      <th>Username</th>
                      <td>
                        <input type="text" formControlName="username" placeholder="Username" id="username" class="form-control"
                          value="{{userget.username}}" required>
                      </td>
                    </tr>
                    </div>
                <!--User Name Validation -->
                    <div *ngFor="let validation of account_validation_messages.username">
                      <div class="error-message" *ngIf="editForm.controls['username'].hasError(validation.type) && (editForm.controls['username'].dirty || editForm.controls['username'].touched)"
                           class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>

                <!-- Contact Number  -->
                    <div class="form-group">
                    <tr>
                      <th>Contact No.</th>
                      <td>
                        <input type="text" formControlName="contactNo" placeholder="Contact No." id="contactNo" class="form-control"
                        value="{{userget.contactNo}}" required>
                      </td>
                    </tr>
                    </div>
                <!-- Contact Number Validation -->
                    <div *ngFor="let validation of account_validation_messages.contactNo">
                      <div class="error-message" *ngIf="editForm.controls['contactNo'].hasError(validation.type) && (editForm.controls['contactNo'].dirty || editForm.controls['contactNo'].touched)"
                           class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>

                <!-- Email -->
                    <div class="form-group">
                    <tr>
                      <th>Email</th>
                      <td>
                        <input type="text" formControlName="email" placeholder="{{userget.email}}" class="form-control" id="email"
                          value="{{userget.email}}" required>
                      </td>
                    </tr>
                    </div>
                <!-- Email Validation -->
                    <div *ngFor="let validation of account_validation_messages.email">
                      <div class="error-message" *ngIf="editForm.controls['email'].hasError(validation.type) && (editForm.controls['email'].dirty || editForm.controls['email'].touched)"
                           class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>

                <!-- Password  -->
                    <div class="form-group">
                    <tr>
                      <th>Password</th>
                      <td>
                        <input type="password" formControlName="password" placeholder="Password" class="form-control" id="password"
                        required>
                      </td>
                    </tr>
                    </div>
                  <!-- Password Valiadtion -->
                    <div *ngFor="let validation of account_validation_messages.password">
                      <div class="error-message" *ngIf="editForm.controls['password'].hasError(validation.type) && (editForm.controls['password'].dirty || editForm.controls['password'].touched)"
                           class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>

                <!-- Confirm Password  -->
                    <div class="form-group">
                      <tr>
                        <th>Confirm Password</th>
                        <td>
                          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                             placeholder="Confirm Password" ngValidateEqual="password" required>
                        </td>
                      </tr>
                      </div>
                <!-- Confirm Password Valiadtion -->
                    <div *ngFor="let validation of account_validation_messages.confirmPassword">
                      <div class="error-message" *ngIf="editForm.controls['confirmPassword'].hasError(validation.type) && (editForm.controls['confirmPassword'].dirty || editForm.controls['confirmPassword'].touched)"
                           class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="updateUser(userget.username)">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
            </div>
          </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
