
<div class="container-fluid" *ngIf="readUser() == 'true'">
  <h3 style="text-align: center;">STATUS</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Username</th>
        <th>Booking Successfull</th>
        <th>Order Accepted</th>
        <th>Picked Car successful</th>
        <th>Car service done</th>
        <th>Dropped Car successful</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let data of bookings'>
        <td>{{data.bookingID}}</td>
        <td>{{data.username}}</td>
        <td>
          <i *ngIf="readBookingSuccessful()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <i *ngIf="readOrderAccepted()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <i *ngIf="readPickCar()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <i *ngIf="readCarService()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <i *ngIf="readDropCar()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <button  class="btn btn-primary" type="submit" [routerLink]="['/rating', data.bookingID]" (click)="execute()">OK</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid" *ngIf="readWasher() == 'true'">
  <h3 style="text-align: center;">STATUS</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Username</th>
        <th>Booking Successfull</th>
        <th>Order Accepted</th>
        <th>Are you ready to Pick Car?</th>
        <th>Is car service done?</th>
        <th> Is dropped Car successful?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let data of bookingsForWasher'>
        <td>{{data.bookingID}}</td>
        <td>{{data.username}}</td>
        <td>
          <i *ngIf="readBookingSuccessful()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
            <i *ngIf="readOrderAccepted()" class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <button type="button" class="btn btn-primary" onclick="style.display = 'none'" (click)="setPickCar()">Yes</button>
          <i  class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
          <button type="button" class="btn btn-primary" onclick="style.display = 'none'" (click)="setCarService()">Yes</button>
          <i  class="fa fa-check" style="color: green;"></i>
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="style.display = 'none'" (click)="setDropCar()" [routerLink]="['/invoice', data.bookingID]" routerLinkActive="router-link-active" >Yes</button>
            <i  class="fa fa-check" style="color: green;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
