
#logoImg{
  opacity: 1;
  border-radius: 15px;
  border: 0.7px solid black;
}
#servicelogo{
  border-radius: 20px;
}
#mapImage{
  border-radius: 15px;
}
#logoImg:hover {
  opacity: 0.8;
}
h3{
  color: white;
  border-bottom : solid 2px #c02b3a;
}

#address{
  color: white;
}
