<div class="row">
  <div  class="col-md-4">
  </div>
  <div  class="col-md-4">
    <h3 id="borderline">Car Information</h3>
    <table class="table" id="border">
      <tr>
        <th>Username</th>
        <td>{{carget.username}}</td>
      </tr>
      <tr>
        <th>Car ID</th>
        <td>{{carget.carID}}</td>
      </tr>
      <tr>
        <th>Car Brand </th>
        <td>{{carget.carBrand}}</td>
      </tr>
      <tr>
        <th>Car Type </th>
        <td>{{carget.carType}}</td>
      </tr>
      <tr>
        <th>Color </th>
        <td>{{carget.color}}</td>
      </tr>
      <tr>
        <th>Year </th>
        <td>{{carget.year}}</td>
      </tr>
      <tr>
        <th></th>
        <td>
          <button data-toggle="modal"  data-target="#trending1" class="btn btn-primary" type="submit" (click)="onEditButtonPressed(carget.carID)">Edit</button>
          <div class="modal fade" id="trending1" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5  class="modal-title">Edit Car Details</h5>
              </div>
              <div class="modal-body">
                <form [formGroup]="carForm" [hidden]="submitted">
                  <table>
                    <tbody>
                  <!-- First Name -->
                      <div class="form-group">
                      <tr>
                        <!-- Car Brand -->
                          <th>Car Brand </th>
                          <th>
                            <input type="text" formControlName="carBrand" placeholder="Car Brand" id="carBrand" class="form-control"
                            value="{{carget.carBrand}}" required>
                          </th>
                      </tr>
                      </div>
                      <!-- Car Brand Validation  -->
                      <div *ngFor="let validation of car_validation_messages.carBrand">
                        <div class="error-message"
                          *ngIf="carForm.controls['carBrand'].hasError(validation.type) && (carForm.controls['carBrand'].dirty || carForm.controls['carBrand'].touched)"
                          class="alert alert-danger">
                          {{validation.message}}
                        </div>
                      </div>

          <!-- Car Type -->
                      <div class="form-group">
                      <tr>
                        <th>Car Type</th>
                        <td>
                          <input type="text" formControlName="carType" id="carType" placeholder="Car Type" id="carType"
                            class="form-control" value="{{carget.carType}}" required>
                        </td>
                      </tr>
                      </div>
          <!-- Car Type Validation  -->
                      <div *ngFor="let validation of car_validation_messages.carType">
                        <div class="error-message"
                          *ngIf="carForm.controls['carType'].hasError(validation.type) && (carForm.controls['carType'].dirty || carForm.controls['carType'].touched)"
                          class="alert alert-danger">
                          {{validation.message}}
                        </div>
                      </div>

          <!-- Year  -->
                      <div class="form-group">
                      <tr>
                        <th>Year</th>
                        <td>
                          <input type="text" formControlName="year" placeholder="Year" id="year" class="form-control"
                            value="{{carget.year}}" required>
                        </td>
                      </tr>
                      </div>
          <!--Year Validation -->
                      <div *ngFor="let validation of car_validation_messages.year">
                        <div class="error-message"
                          *ngIf="carForm.controls['year'].hasError(validation.type) && (carForm.controls['year'].dirty || carForm.controls['year'].touched)"
                          class="alert alert-danger">
                          {{validation.message}}
                        </div>
                      </div>

          <!-- Color -->
                      <div class="form-group">
                      <tr>
                        <th>Color</th>
                        <td>
                          <input type="text" formControlName="color" placeholder="Color" id="color" class="form-control"
                           value="{{carget.color}}" required>
                        </td>
                      </tr>
                      </div>
                      <!-- Color Validation -->
                      <div *ngFor="let validation of car_validation_messages.color">
                        <div class="error-message"
                          *ngIf="carForm.controls['color'].hasError(validation.type) && (carForm.controls['color'].dirty || carForm.controls['color'].touched)"
                          class="alert alert-danger">
                          {{validation.message}}
                        </div>
                      </div>
                    </tbody>
                  </table>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="updateCar(carget.carID)">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
              </div>
            </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="row">
      <div  class="col-md-4">
      </div>
      <div  class="col-md-4">
        <button data-toggle="modal"  data-target="#trending3" class="btn btn-primary" type="submit" >Add New Car</button>
      </div>
      <div  class="col-md-4">
        <div class="modal fade" id="trending3" tabindex="-1" role="dialog" aria-labelledby="trending1Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5  class="modal-title">Add Car Details</h5>
            </div>
            <div class="modal-body">
              <form [formGroup]="carForm" [hidden]="submitted">
                <table>
                  <tbody>
                <!-- User Name  -->
                    <div class="form-group">
                      <tr>
                      <th>Username</th>
                      <td>
                        <input type="text" formControlName="username" placeholder="User Name" id="username" class="form-control"
                        [(ngModel)]="carget.username" required>
                      </td>
                      </tr>
                    </div>
                <!--User Name Validation -->
                    <div *ngFor="let validation of car_validation_messages.username">
                      <div class="error-message" *ngIf="carForm.controls['username'].hasError(validation.type) && (carForm.controls['username'].dirty || carForm.controls['username'].touched)"
                          class="alert alert-danger">
                            {{validation.message}}
                      </div>
                    </div>
                <!-- Car Brand Name -->
                    <div class="form-group">
                    <tr>
                      <!-- Car Brand -->
                        <th>Car Brand </th>
                        <th>
                          <input type="text" formControlName="carBrand" placeholder="Car Brand" id="carBrand" class="form-control"
                          [(ngModel)]="carget.carBrand" required>
                        </th>
                    </tr>
                    </div>
                    <!-- Car Brand Validation  -->
                    <div *ngFor="let validation of car_validation_messages.carBrand">
                      <div class="error-message"
                        *ngIf="carForm.controls['carBrand'].hasError(validation.type) && (carForm.controls['carBrand'].dirty || carForm.controls['carBrand'].touched)"
                        class="alert alert-danger">
                        {{validation.message}}
                      </div>
                    </div>

        <!-- Car Type -->
                    <div class="form-group">
                    <tr>
                      <th>Car Type</th>
                      <td>
                        <input type="text" formControlName="carType" id="carType" placeholder="Car Type" id="carType"
                          class="form-control" [(ngModel)]="carget.carType" required>
                      </td>
                    </tr>
                    </div>
        <!-- Car Type Validation  -->
                    <div *ngFor="let validation of car_validation_messages.carType">
                      <div class="error-message"
                        *ngIf="carForm.controls['carType'].hasError(validation.type) && (carForm.controls['carType'].dirty || carForm.controls['carType'].touched)"
                        class="alert alert-danger">
                        {{validation.message}}
                      </div>
                    </div>

        <!-- Year  -->
                    <div class="form-group">
                    <tr>
                      <th>Year</th>
                      <td>
                        <input type="text" formControlName="year" placeholder="Year" id="year" class="form-control"
                        [(ngModel)]="carget.year" required>
                      </td>
                    </tr>
                    </div>
        <!--Year Validation -->
                    <div *ngFor="let validation of car_validation_messages.year">
                      <div class="error-message"
                        *ngIf="carForm.controls['year'].hasError(validation.type) && (carForm.controls['year'].dirty || carForm.controls['year'].touched)"
                        class="alert alert-danger">
                        {{validation.message}}
                      </div>
                    </div>

        <!-- Color -->
                    <div class="form-group">
                    <tr>
                      <th>Color</th>
                      <td>
                        <input type="text" formControlName="color" placeholder="Color" id="color" class="form-control"
                        [(ngModel)]="carget.color" required>
                      </td>
                    </tr>
                    </div>
                    <!-- Color Validation -->
                    <div *ngFor="let validation of car_validation_messages.color">
                      <div class="error-message"
                        *ngIf="carForm.controls['color'].hasError(validation.type) && (carForm.controls['color'].dirty || carForm.controls['color'].touched)"
                        class="alert alert-danger">
                        {{validation.message}}
                      </div>
                    </div>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addCar(carget.username)">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="col-md-4">
  </div>
</div>
